# Node modules (don't share large dependencies)
node_modules/

# OS / IDE files
.DS_Store
.vscode/

# Optional dev-only files you don't need publicly
/dist/
*.log
/README-cloudshell.txt

# Ignore environment variables if you ever add them
.env
.vercel

# Local Netlify folder
.netlify

# OS swap/temporary files
*.swp
*.swo

# OS swap/temporary files
*.tmp
*.cache/

